/* Variables
=============================================*/
$primary: #28388e; // blue
$secondary: #fed356; // light yellow
$tertiary: #febf0a; // yellow

$bodyFont: 'merriweatherregular', 'Arial', sans-serif;

$MerriRegular: 'merriweatherregular', 'Arial', sans-serif;
$MerriBold: 'merriweatherbold', 'Arial', sans-serif;

$RaleRegular:'ralewayregular', 'Arial', sans-serif;
$RaleBold:'ralewaybold', 'Arial', sans-serif;
$RaleHeavy:'ralewayheavy', 'Arial', sans-serif;
$RaleLight:'ralewaylight', 'Arial', sans-serif;

$MerriRegularFull: normal 16px/20px $MerriRegular;
$MerriBoldFull: normal 16px/20px $MerriBold;
$RaleRegularFull: normal 16px/20px $RaleRegular;
$RaleBoldFull: normal 16px/20px $RaleBold;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet-width: 768px;
$tablet-mid-width: 800px;
$desktop-width: 1024px;
$super-desktop-width: 1400px;
$mobile-width: 680px;
$small-mobile-width: 375px;

$circumference: 100;
$thickness: 5px;
$increment: 5;
$area: 500;