/* Variables
=============================================*/
$primary: #28388e; // blue
$secondary: #fed356; // light yellow
$secondary-dark: #febf0a; // yellow
$tertiary: #ffffff; // white

$bodyFont: 'montserratregular', 'Arial', sans-serif;
$Futura: 500 15px/18px 'JB Futura', 'Futura', 'Arial', sans-serif; // for full font declaration
$FuturaStack: 'Futura', 'Arial', sans-serif; // for when you just need the font stack

$MontLight: 'montserratregular', 'Arial', sans-serif;
$MontRegular: 'montserrat_light', 'Arial', sans-serif;
$MontBlack: 'montserratblack', 'Arial', sans-serif;
$MontBold: 'montserratbold', 'Arial', sans-serif;

$MontLightFull: normal 16px/20px $MontLight;
$MontRegularFull: normal 16px/20px $MontRegular;
$MontBlackFull: normal 16px/20px $MontBlack;
$MontBoldFull: normal 16px/20px $MontBold;

$tablet: "(min-width: 768px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";
$tablet-width: 768px;
$tablet-mid-width: 800px;
$desktop-width: 1024px;
$super-desktop-width: 1400px;
$mobile-width: 680px;
$small-mobile-width: 375px;

$circumference: 100;
$thickness: 5px;
$increment: 5;
$area: 500;